.footer-container {
  background: #050814;
  padding: 40px 8%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(120,120,255,0.15);
}

.footer-name {
  font-size: 20px;
}

.footer-description {
  color: #9aa0b7;
}

.footer-stack {
  color: #9aa0b7;
}